 {% extends 'base.html.twig' %}


 {% block body %}
     <main>
         <nav class="breadcrumbs" aria-label="Breadcrumbs">
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('patient_list') }}" hx-confirm="Are you sure you want to leave?">Patients</a></li>
                    <li aria-current="page">Create</li>
                </ol>
         </nav>
        {{ form(form) }}
     </main>
 {% endblock %}